<template>
  <div class="container">
    <div class="kv">
      <p>すごいキービジュアル</p>
    </div>
    <div class="intro wrapper">
      <h2>すごいイントロ</h2>
      <p>
        ここにすごいイントロダクション風のテキストが入ります。
        ここにすごいイントロダクション風のテキストが入ります。
        ここにすごいイントロダクション風のテキストが入ります。
        ここにすごいイントロダクション風のテキストが入ります。
        ここにすごいイントロダクション風のテキストが入ります。
      </p>
      <p>
        ここにすごいイントロダクション風のテキストが入ります。
        ここにすごいイントロダクション風のテキストが入ります。
        ここにすごいイントロダクション風のテキストが入ります。
        ここにすごいイントロダクション風のテキストが入ります。
        ここにすごいイントロダクション風のテキストが入ります。
      </p>
    </div>
    <div class="news wrapper">
      <h2>
        すごいお知らせ
        <span>← microCMSで更新中</span>
      </h2>
      <ul>
        <li v-for="article in articles" :key="article.id">
          <span>{{ modifyDatetime(article.createdAt) }}</span>
          <h3>
            <nuxt-link :to="`/post/${article.id}`">
              {{ article.title }}
            </nuxt-link>
          </h3>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  layout: 'default',
  data() {
    return {
      articles: null
    }
  },
  mounted() {
    this.fetchArticles()
  },
  methods: {
    fetchArticles() {
      axios
        .get('https://shimotsu-test.microcms.io/api/v1/shimotsutest?limit=3', {
          headers: { 'X-API-KEY': process.env.API_KEY }
        })
        .then((res) => {
          this.articles = res.data.contents
          // console.log(res)
        })
        .catch((err) => {
          console.log(err)
        })
    },
    modifyDatetime(date) {
      const Ymd = date.split('T')[0]
      return Ymd
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.kv {
  background: #eee;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  > p {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
  }
}

.wrapper {
  margin: 80px auto;
  width: 100%;
  max-width: 75vw;

  > h2 {
    margin-bottom: 20px;

    > span {
      position: relative;
      top: -4px;
      font-size: 0.8rem;
      font-weight: bold;
      margin-left: 10px;
      background-color: #35495e;
      color: #fff;
      padding: 5px;
      border-radius: 6px;
      padding: 4px 10px;
      border-radius: 6px;
    }
  }
}

.intro {
  > p {
    margin-bottom: 15px;
  }
}

.news {
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 8px;
  > ul {
    padding-left: 0;
    list-style-type: none;

    > li {
      margin-bottom: 30px;
      &:last-of-type {
        margin-bottom: 0;
      }

      > span {
        display: block;
        font-size: 0.9rem;
        font-weight: normal;
        margin: 0 0 5px;
      }

      > h3 {
        font-size: 1rem;

        > a {
          color: #333;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
</style>
