<template>
  <header class="header">
    <nuxt-link to="/">すごいヘッダー</nuxt-link>
  </header>
</template>

<style lang="scss" scoped>
.header {
  background-color: #ddd;
  font-size: 1.4rem;
  font-weight: normal;
  padding: 20px 30px;

  > a {
    color: inherit;
  }
}
</style>
